*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-register{
    width: 400px;
    background: #4EA1FA;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: oblique bold;
    color: white;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.controls{
    width: 100%;
    background: #4EA1FA;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: oblique bold;
    font-size: 18px;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
  
}
.form-register a{
    color: wheat;
    text-decoration: none;
    line-height: 70px;
}
.form-register a:hover{
    color: wheat;
    text-decoration: underline;
      
}
.form-register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: wheat;
    margin: 16px 0;
    font-size: 16px;
    
}